# Ignore build artifacts
build/
*.elf
*.bin
*.map

# Ignore managed components
managed_components/

# Ignore project-specific settings
.vscode/
.idea/

# ESP-IDF specific
sdkconfig.old
sdkconfig.defaults
.env/
.python_env/
.venv/
.pytest_cache/

# OS-specific
Thumbs.db
.DS_Store